[Unit]
Description=Dendrite (Matrix Homeserver)
After=network.target

[Service]
User=dendrite
Group=dendrite
ExecStart=/usr/bin/dendrite --config=/etc/dendrite/config.yaml
WorkingDirectory=/var/lib/dendrite/

[Install]
WantedBy=multi-user.target
