@import url("../fonts/cmu-concrete/stylesheet.css");

body
{
    font-family: "CMU Concrete", Georgia, "Source Han Sans SC", "Noto Sans CJK SC", "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Microhei", "Droid Sans Fallback", sans-serif;
    font-size: 20px;
    background-color: #f5f4f0;
    color: #110600;
}

*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #1abc9c;
}

a:hover
{
    text-decoration: none;
    color: #f5f4f0;
    background-color: #1abc9c;
}

h2
{
    font-weight: normal;
    margin: 1em 0px 0.83em 0px;
    font-style: italic;
}

h2.SecTitle
{
    text-align: center;
}

ul, ol
{
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

ul
{
    list-style-type: square;
}

#Wrapper1stScreen
{
    min-height: 100vh;
}

nav #IconHome
{
    height: 1em;
    width: 1em;
    fill: currentColor;
    overflow:hidden;
    vertical-align: -0.15em;
}

nav ul
{
    list-style: none;
    background: #bab5ab;
    color: #f5f4f0;
    text-align: center;
}

nav li
{
    display: inline-block;
}

nav li a
{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: #f5f4f0;
}

nav li a:hover
{
    color: #bab5ab;
    background-color: #f5f4f0;
}

.container
{
    max-width: 1200px;
    margin: 15px auto 15px auto;
}

.row
{
    display: grid;
    column-gap: 15px;
    row-gap: 1em;
    margin: 0px 10px 0px 10px;
}

@media (min-width: 992px)
{
    .row
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 992px)
{
    .row
    {
        grid-template-columns: 1fr;
    }
}

ul#IdList
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#MainWrapper
{
    max-width: 1200px;
}

section#SecID
{
    text-align: center;
}

ul#IdList a
{
    margin-left: 1em;
}

section#SecProgs
{
    text-align: center;
}

section#SecProgs ul
{
    list-style: none;
}

/* section#SecProgs ul li */
/* { */
/*     margin-bottom: 1em; */
/* } */

#Wrappen2ndScreen
{
    margin: 32px 0px;
}

#ButtonGallery > ul
{
    display: flex;
    list-style: none;
    line-height: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: 0px;             /* To collapes white spaces */
}

img.PixelArt
{
    image-rendering: crisp-edges;
}
