[Unit]
Description=llama.cpp Server
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=/etc/llama.cpp.conf
EnvironmentFile=/etc/llama.cpp-apikey.conf
ExecStart=/usr/bin/llama-server $LLAMA_ARGS --api-key $LLAMA_API_KEY
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
User=llama
Group=llama

[Install]
WantedBy=multi-user.target
